[submodule "gflownet"]
	path = gflownet
	url = https://github.com/TheMatrixMaster/gflownet.git
[submodule "multimodal_contrastive"]
	path = multimodal_contrastive
	url = https://github.com/TheMatrixMaster/mmc-gene.git
